body {
	background: #12121F;
	margin: 17px;
	font-size: 17px;
}

h1 {
	font-size: 28px;
	color: #B3DF72;
	text-align: center;
	font-family: sans-serif;
}


a {
	color: #636d83;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
}


.text_form {
	display: grid;
	width: 75%;
	height: 75%;
	margin: auto;
	padding: 0;
	border: none;
	font-family: EB Garamond; 
}

.form_input_title {
	height: 40px;
	font-size: 24px;
	width: 500px;
	color: white;
	border: none;
	background: #1e1e2e;
	padding: 20;
}

.form_input_title:focus {
	outline: none;
}

.form_input {
	height: 40px;
	width: 200px;
	margin: 10;
	color: white;
	font-size: 24px;
	border: none;
	background: #1e1e2e;
	padding: 20;
}

.form_input {
	outline: none;
}


.submit_story {
	height: 50px;
	width: 200px;
	margin: 10;
	color: white;
	font-size: 24px;
	border: none;
	background: #1e1e2e;
	padding: 10;
}


/* PR Request Class */

.form-control {
	color: #FD9891;
	padding: 5;
	font-family: calibri;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.1;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 2em auto;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	margin: 0;
	font: inherit;
	color: #636d83; 
	width: 1.15em;
	height 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
}

.form-control + .form-control {
	margin-top 1em;
}

input[type="checkbox"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	background-color: CanvasText;
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

/* PR Request Checkmark end */


textarea {
	background: #1e1e2e;
	font-size: 21px;
	color: white;
	font-family: EB Garamond;
	resize: none;
	border: 1px solid #B3DF72;
	padding: none;
	height 1000;
}

textarea:focus {
	outline: none;
}

.view_stories {
	color: #CF6679;
	background-color: #1E1E2E;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 24px;
	cursor: pointer;

}

.view_stories:hover {
	background-color: #2A2A3B;	
}

.return-to-bar {
	/* hyperlink to return to index */
	color: #FD9891;
}

/* These options assist the text editor formatting
 check text_input.css for expanded styles */
body .cke_top {
	background-color: #1e1e2e;
}

body .cke_bottom {
	background-color: #1e1e2e;
}

