<!--
	This Template is the main landing page of the app. Where a User can write a story 
	and navigate to other pages.
-->

{% extends 'base.html' %}

{% block head %}
<title> FantaSci </title>
{% endblock %}


{% block body %}
<div class="content">
	
	<h1 style="text-align: center; color: black">Welcome to FantaSci!</h1>
	<h4 style="text-align: center; color: black"> Hello Traveler! Have a seat and tell us your story...</h4>
		
	<a href="/story_db/" class="button">View Stories</a><br>
	<a href="/login/" class="button">Login</a><br>	
	<a href="/register/" class="button">Create Account</a><br>


	<!-- This is the central form a User can use to write stories -->
	<div class="form-container">
		<form action="/" method="POST">
			<input type="text" name="title" id="title" placeholder="What is the name of this Story?">
			<input type="text" name="genre" id="genre" placeholder="What Type of Story is this?">
			<textarea type="text" name="content" id="content" placeholder="The Story goes...">
			</textarea>
			<input type="submit" value="Tell Story">
		</form>
	</div>
	
</div>
{% endblock %}

