<!--
	This Template is the main landing page of the app. 
-->

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<title> Branch Library </title>

{% block body %}
	{% if current_user.is_authenticated %}
	
	<div style= "text-align: center;">
		<em style = "color: #636d83; font-size: 22px; font-family: sans-serif;" >
			Welcome, {{ current_user.username }}!
		</em>
		</div>
		<a href="/logout/" class="button">Logout User</a><br>
		<h1>Welcome to BranchLibrary!</h1>

	{% else %}

	<div style= "text-align: center;">
		<em style = "color: #BB86FC; font-size: 22px; font-family: sans-serif" >Not Logged In</em><br>
	</div>
		<a href="/login/" class="button">Login</a><br>	
		<a href="/register/" class="button">Create Account</a><br>
		<h1>Welcome to BranchLibrary!</h1>
	
	{% endif %}
	
	
	<h4>"Empowering Storytelling through Open Collaboration"</h4>
	
	<div class="center-container">
		<p>
		 BranchLibrary aims to change the way we tell stories, 
		 We believe collective creativity is the cornerstone 
		 for innovation.
		 <br><br> 
		 Dedicated to authors who aspire to transform the way stories 
		 are told, we wish to provide a free, open source environment, 
		 that encourages writers to collaborate, share and 
		 enhance each other's work.
		 <br><br> 
		 We are committed to fostering an inclusive and dynamic community 
		 where the boundaries of fiction are limitless, 
		 and diverse voices are amplified. 
		 <br><br>
		 Create a new paradigm in storytelling that is richer, 
		 more interconnected, and endlessly imaginative.
		</p>
	</div>
	
	<br><br>

	<div style = "text-align: center;">
		<a href="/story_db/" class="view_stories">View Stories</a>
		<br><br><br>
		<a href="/writer/" class="view_stories">Tell a Story</a>
	</div>

{% endblock %}

