<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/merge_requests.css') }}">
<title> Requests </title>

{% if current_user.is_authenticated %}
	<a href="/logout/" class="button">Logout</a><br>	
	<a href="/" class="return-to-bar">Return to the Bar</a>
	<div style = "text-align: center;">
		<em style = "color: #636d83; font-size: 22px; font-family: sans-serif;">Hello, {{ current_user.username }}!</em>
	</div>
{% else %}
	<div style= "text-align: center;">
		<em style = "color: #BB86FC; font-size: 22px; font-family: sans-serif" >Not Logged In</em>
	</div>
		<a href="/login/" class="button">Login</a><br>
		<a href="/register/" class="button">Create Account</a><br>
		<a href="/" class="return-to-bar">Return to the Bar</a>
{% endif %}

<h1 style="text-align: center;" class="content">Pending Requests</h1><br>
<table class="versions-table">
	<tr>
		<th>Title</th>
		<th>Requestor</th>
		<th>Link to Changes</th>
	</tr>

	{% for request in merge_requests %}
	<tr>
		<td>{{ request.story.title }}</td>
		<td>{{ request.requestor.username }}</td>
		<td><a href="{{ url_for('read_version', version_id=request.version_id) }}" class="story-link">Review Changes</a></td>
	</tr>
	{% endfor %}
</table>
