<!--
	New User Sign up Page Template
-->

<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}">


{% block head %}
<title> Create Account </title>
{% endblock %}

{% block body %}

<body>

	<a href="/login" class="button">Already a member? Login Here</a><br>
	<a href="/" class="return-to-bar">Return to the Bar</a>
	<h1>Welcome in! Who are You!</h1>

	<form method="POST" action="" class="form-cont">
		{{ form.hidden_tag() }}
		{{ form.username }}
		{{ form.password }}
		{{ form.submit }}
	</form>

</body>

{% endblock %}
