<!--
	This template is where Users can look at existing stories, choose to update
	delete or navigate to other areas of the app.
-->

{% extends 'base_db.html' %}

{% block head %}
<title> FantaSci/Compendium </title>
{% endblock %}


{% block body %}
<div class="content">
	<h1 style="text-align: center;">FantaSci Compendium</h1>

	<!-- If there are no Stories yet, this prompts the user to return to Index.html -->
	{% if stories|length < 1 %}
	
	<h4 style="text-align: center;"> It is a quiet night,  <a href="/">Return to the Bar and Tell us a Story</a></h4>
	{% else %}
	<a href="/" class="button">Return to the Bar</a>

	
	<!-- This is just for a Genre filter Dropdown -->
	<div style = "position:relative; left:1px; top:2px;">
	<form method="POST">	
		<select name="Genre">
			<option value="ALL">All Genres</option>

			{% for genre in unique_genres %}
			<option value="{{ genre }}">{{ genre }}</option>
			{% endfor %}
		
		</select>
		<button type="submit">Filter</button>
	</form>
    </div>
	

	<table class="center">
		<tr>
			<th>Title</th>
			<th>Genre</th>
			<th>Updated</th>
			<th>Action</th>
		</tr>
		
		{%for story in stories %}
		<tr>
			<td><a href="{{ url_for('view_story', id=story.id) }}">{{ story.title }}</a></td>
			<td>{{story.genre}}</td>
			<td>{{ story.date_created.date() }}</td>
			<td>
				<!-- This invokes the delete and update functions from main.py as well as Update.html templates -->		
		
				<a href="/delete/{{ story.id }}">Delete</a>
				<br>
				<a href="/update/{{ story.id }}">Update</a>
			</td>
		</tr>  
		{% endfor %}
	
	</table>
	
	{% endif %}
	
</div>
{% endblock %}
