<!--
	This template allows the User to Update current stories in the database
-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}">

{% block head %}
<title> FantaSci </title>
{% endblock %}


{% block body %}
<div style="text-align: center;">
	<h1 style="text-align: center;">Update Story</h1>
	
	<div>
		<form action="/update/{{ story.id }}" method="POST">
			
			<!-- This hidden input is critical for versioning when edits are made -->
			<input type="hidden" name="story_id" value="{{ story.id }}">

			<input class="form_input_title" type="text" name="title" title="Story Name" id="title" value="{{ story.title }}">
			<input class="form_input" type="text" name="genre" title="Update Genre" id="genre" value="{{ story.genre }}">
			
			<div class="text_form">
			<textarea type="text" name="content" title="Change Story" id="content">{{ story.content }}</textarea>
			</div>
			
			<input class="submit_story" type="submit" value="Update">
			<a href="/story_db/" class="submit_story">Cancel</a>
		</form>
	</div>
	
</div>
{% endblock %}

