<!--
	This template allows the User to Update current stories in the database
-->
{% extends 'base.html' %}

{% block head %}
<title> FantaSci </title>
{% endblock %}


{% block body %}
<div class="content">
	<h1 style="text-align: center;">Update Story</h1>
	
	<div class="form-container">
		<form action="/update/{{ story.id }}" method="POST">
			<input type="text" name="title" title="Story Name" id="title" value="{{ story.title }}">
			<input type="text" name="genre" title="Update Genre" id="genre" value="{{ story.genre }}">
			<textarea type="text" name="content" title="Change Story" id="content" value="{{ story.content }}">
			</textarea>
			<input type="submit" value="Update">
		</form>
	</div>
	
</div>
{% endblock %}

